<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ホームページ</title>
	<link th:href="@{/../../css/style.css}" rel="stylesheet" />
</head>
<body>
    <!-- ヘッダー -->
	<div th:replace="header :: header"></div>

	<!-- メインコンテンツとサイドバー -->
	<div class="main-content">
		
		<!-- サイドバー -->
		<div th:replace="sidebar :: sidebar"></div>
		
		<!-- メインコンテンツ -->
		<section class="content">
		    <h1>Products</h1>
		    <a th:href="@{/products/new}">Add New Product</a>
		    <ul>
		        <li th:each="product : ${products}">
		            <a th:href="@{/products/{id}(id=${product.id})}" th:text="${product.name}"></a>
		        </li>
		    </ul>
						
		</section>
		
	</div>

    <!-- フッター -->
    <div th:replace="footer :: footer"></div>
</body>
</html>
